<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% if (message.length > 0) { %>
      <p><%= message %></p>
    <% } else { %>
      <p>I didn't get the message!</p>
    <% } %>
    
  </body>
</html>
